/* App.css */
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Place the navbar at the top */
    min-height: 100vh;
    padding: 20px;
  }
  
  /* Styling for the horizontal navbar */
  .navbar {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 5px; /* Reduce padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 120px; /* Adjust the margin as needed for spacing */
    margin-left: 120px;
  }
  
  /* Make the hyperlink white */
  .nav-list li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Center-align the text within the navbar */
  .welcome-message {
    font-size: 24px;
    text-align: center;
    margin-top: 120px; /* Add top margin for spacing */
  }
  .h1{
    color: #fff;
    margin-top: 220px;
  }
  /* App.css */
  /* Add a CSS class to style the image */
  .logo {
    width: 10px; /* Adjust the width as needed */
    height: 10px;
  }
  
  /* App.css */
  /* ... (previously defined styles) */
  
  /* Styling for the "ss1.jpeg" image */
  .ss-image {
    width: 1000px; /* Adjust the width as needed */
    height: 400px;
    margin-top: 0px; /* Add margin to position it below the navbar */
    border-radius: 10px;
  }
  
  .welcome {
    width: max-content;
    padding: 50px;
    height: 150px;
    align-items: center;
}

